.tieu_de {
    color: #4ea5d9;
}
body {
    background-color: #727375;
    background-image: url(./297daf4936d87a50b8550999d65c3c459a52646c_full.jpg);
    background-repeat: no-repeat;
    background-size: \
}